.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  background-image: url('/backgrounds/@1x/tinydesk@4x.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .backgroundImage {
    background-image: url('/backgrounds/@2x/tinydesk@2x.jpg');
  }
}

@media (-webkit-min-device-pixel-ratio: 4), (min-resolution: 384dpi) {
  .backgroundImage {
    background-image: url('/backgrounds/@4x/tinydesk@4x.jpg');
  }
}

.backgroundImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5)
  );
}

.header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.userButton {
  z-index: 11;
}

.searchField {
  z-index: 11;
  min-width: 250px;
}

.carouselContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
